@mixin Kanit($fontWeight: 300, $fontSize, $color: black, $letterSpacing: 0) {
  font-family: "Kanit", sans-serif;
  font-weight: $fontWeight;
  letter-spacing: $letterSpacing;
  font-size: $fontSize;
  text-decoration: none;
  color: $color;
}
