@import "components/normalize";
@import "components/fonts";
@import "components/mixins";

html,
body {
  font-size: 16px;
  position: relative;
  text-align: center;
}

* {
  font-family: "Kanit", sans-serif;
}
h2 {
  font-style: italic;
}
.btn-primary {
  color: #fff;
  text-transform: uppercase;
  font-size: 16px;
  background: linear-gradient(45deg, rgb(256, 48, 114), rgb(255, 89, 64));
  padding: 12px 30px;
  border-radius: 30px;
  border: none;
}
.btn-primary:hover {
  background: linear-gradient(260deg, rgb(256, 48, 114), rgb(255, 89, 64));
}

.btn-secondary {
  color: rgb(121, 119, 119);
  background-color: white;
  font-size: 16px;
  text-transform: uppercase;
  padding: 12px 30px;
  border-radius: 30px;
  border: solid 2px rgb(121, 119, 119);
  margin: 6px;
}
.btn-secondary:hover {
  color: rgb(48, 48, 48);
  border: solid 2px rgb(48, 48, 48);
}
.title_primary {
  font-size: 90px;
  color: white;
}

/*----- Navbar ------*/

nav {
  width: 100%;
  display: flex;
  justify-content: space-between;
  .logo_container {
    width: 340px;
    margin: 15px;
    .logo {
      width: 80%;
    }
  }
  .btn-nav {
    color: rgb(254, 48, 114);
    background-color: white;
    font-size: 20px;
    padding: 10px 20px;
    border-radius: 10px;
    border: none;
    margin: 10px;
  }
  .btn-nav:disabled {
    background-color: rgb(181, 180, 180);
    color: rgb(193, 42, 90);
  }
}

/*----- Home page ------*/

.overlay {
  width: 100vw;
  height: 100vh;
  position: fixed;
  background: linear-gradient(
    to bottom,
    rgba(0, 0, 0, 0.65) 0%,
    rgba(0, 0, 0, 0) 100%
  );
}
.home {
  margin-top: 30vh;
}
/*----- Auth modal ------*/
.auth_modal {
  position: absolute;
  left: 0;
  right: 0;
  top: 100px;
  margin-left: auto;
  margin-right: auto;
  max-width: 360px;
  height: 680px;
  background-color: #fff;
  border-radius: 10px;
  padding: 40px;
  form {
    display: flex;
    flex-direction: column;
    input[type="password"],
    [type="email"] {
      padding: 8px;
      margin: 8px;
      font-size: 17px;
    }
  }
}
.close_icon {
  float: right;
}
