@import "components/normalize";
@import "components/fonts";
@import "components/mixins";

html,
body {
  font-size: 16px;
  position: relative;
}

* {
  font-family: "Kanit", sans-serif;
}
.btn-primary {
  color: #fff;
  text-transform: uppercase;
  font-size: 16px;
  background-color: linear-gradient(45deg #fe3872, #ff5948);
  padding: 12px 30px;
  border-radius: 30px;
  border: none;
}
