@import "components/normalize";
@import url("https://fonts.googleapis.com/css2?family=Kanit:wght@300&family=Open+Sans:wght@300;400;700&family=Raleway:wght@300;400;700;800&display=swap");

html,
body {
  font-size: 16px;
  position: relative;
  text-align: center;
}

* {
  font-family: "Kanit", sans-serif;
}

h2 {
  font-style: italic;
}
.btn-primary {
  color: #fff;
  text-transform: uppercase;
  font-size: 16px;
  background: linear-gradient(45deg, rgb(256, 48, 114), rgb(255, 89, 64));
  padding: 12px 30px;
  border-radius: 30px;
  border: none;
}
.btn-primary:hover {
  background: linear-gradient(260deg, rgb(256, 48, 114), rgb(255, 89, 64));
}

.btn-secondary {
  color: rgb(121, 119, 119);
  background-color: white;
  font-size: 16px;
  text-transform: uppercase;
  padding: 12px 30px;
  border-radius: 30px;
  border: solid 2px rgb(121, 119, 119);
  margin: 6px;
}
.btn-secondary:hover {
  color: rgb(48, 48, 48);
  border: solid 2px rgb(48, 48, 48);
}
.title_primary {
  font-size: 90px;
  color: white;
}

/*----- Navbar ------*/

nav {
  width: 100%;
  display: flex;
  justify-content: space-between;
  .logo_container {
    width: 340px;
    margin: 15px;
    .logo {
      width: 80%;
    }
  }
  .btn-nav {
    color: rgb(254, 48, 114);
    background-color: white;
    font-size: 20px;
    padding: 10px 20px;
    border-radius: 10px;
    border: none;
    margin: 10px;
  }
  .btn-nav:disabled {
    background-color: rgb(181, 180, 180);
    color: rgb(193, 42, 90);
  }
}

/*----- Home page ------*/

.overlay {
  width: 100vw;
  height: 100vh;
  position: fixed;
  background: linear-gradient(
      to bottom,
      rgba(0, 0, 0, 0.85) 0%,
      rgba(0, 0, 0, 0) 100%
    ),
    url("styles/images/background_image.jpg") no-repeat center center / cover;
}
.home {
  margin-top: 30vh;
}
/*----- Auth modal ------*/
.auth_modal {
  position: absolute;
  left: 0;
  right: 0;
  top: 100px;
  margin-left: auto;
  margin-right: auto;
  max-width: 360px;
  height: 680px;
  background-color: #fff;
  border-radius: 10px;
  padding: 40px;
  form {
    display: flex;
    flex-direction: column;
    input[type="password"],
    [type="email"] {
      padding: 8px;
      margin: 8px;
      font-size: 17px;
    }
  }
}
.close_icon {
  float: right;
}
/*----- Onboarding ------*/
.onboarding {
  border-top: solid 1px gray;
  form {
    display: flex;
    justify-content: center;
    section {
      display: flex;
      flex-direction: column;
      padding: 20px;
      width: 35%;
    }
    input {
      padding: 15px 30px;
      margin: 10px 0;
      font-size: 15px;
      border: solid 2px rgb(219, 219, 219);
      border-radius: 10px;
      ::-webkit-inner-spin-button,
      ::-webkit-outer-spin-button {
        -webkit-appearance: none;
        margin: 0;
      }
    }
    label {
      margin: 10px 0;
    }
    .multiple_input_container {
      display: flex;
      flex-direction: row;
      input {
        margin-right: 10px;
      }
      label {
        padding: 10px;
        border: solid 2px rgb(144, 144, 144);
        border-radius: 10px;
        transition: all 0.3s;
        margin-right: 10px;
      }
    }
    .photo_container img {
      width: 100%;
    }
    input[type="radio"] {
      display: none;
      &:checked + label {
        border: solid 2px rgb(221, 39, 22);
      }
    }
    input[type="submit"] {
      &:hover {
        background-color: rgb(235, 235, 235);
      }
      &:active {
        background-color: rgb(226, 115, 155);
      }
    }
    input[type="number"] {
      width: 10%;
    }
  }
}
/*----- Dashboard ------*/
.dashboard {
  justify-content: space-between;
  display: flex;
  .swipe_container {
    width: 70%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
  }
  .card_container {
    width: 400px;
    height: 650px;
  }
  .swipe_info {
    position: absolute;
    bottom: 0;
    padding: 10px;
  }
}

.swipe {
  position: absolute;
}

.card {
  width: 400px;
  height: 650px;
  border-radius: 30px;
  background-size: cover;
  background-position: center;
}

.card h3 {
  margin-top: 0;
}

/*----- Chat Container ------*/

.chat_container {
  background-color: rgb(255, 255, 255);
  box-shadow: 0px 6px 24px 0px rgba(0, 0, 0, 0.05),
    rgba(0, 0, 0, 0.08) 0px 0px 0px 1px;
  width: 30%;
  text-align: left;
  z-index: 1;
  .chat_container_header {
    background: linear-gradient(260deg, rgb(256, 48, 114), rgb(255, 89, 64));
    height: 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .option {
    border: none;
    background-color: #fff;
    border-bottom: solid 4px red;
    font-size: 20px;
    margin: 2px;
    padding: 10px;
  }
  .option:disabled {
    border-bottom: solid 4px rgb(184, 184, 184);
  }
  .profile {
    display: flex;
    align-items: center;
    padding: 20px;
    color: rgb(255, 255, 255);
  }
  .log_out_icon {
    display: flex;
    align-items: center;
    padding: 20px;
    color: rgb(255, 255, 255);
  }
}
.img_container {
  max-height: 30px;
  max-width: 30px;
  border-radius: 15px;
  overflow: hidden;
  margin: 10px;
  img {
    width: 100%;
  }
}

/*----- Chat Display  ------*/

.chat_display {
  padding: 20px;
  height: 70vh;
  overflow-y: auto;
}
.chat_input {
  padding: 20px;
  display: flex;
  flex-direction: column;
}

/*----- Event Creation  ------*/

.event-creation {
  border-top: solid 1px gray;
  form {
    display: flex;
    justify-content: center;
    section {
      display: flex;
      flex-direction: column;
      padding: 20px;
      width: 35%;
      input {
        padding: 15px 30px;
        margin: 10px 0;
        font-size: 15px;
        border: solid 2px rgb(219, 219, 219);
        border-radius: 10px;
        ::-webkit-inner-spin-button,
        ::-webkit-outer-spin-button {
          -webkit-appearance: none;
          margin: 0;
        }
      }
      label {
        margin: 10px 0;
      }
      .multiple_input_container {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        input,
        select {
          margin-right: 10px;
        }
        label {
          padding: 10px;
          border: solid 2px rgb(144, 144, 144);
          border-radius: 10px;
          transition: all 0.3s;
          margin-right: 10px;
        }
      }
      .price-container {
        display: flex;
        align-items: center;
        label {
          margin-right: 10px;
        }
        input[name="price"] {
          flex: 1;
        }
      }
      .photo_container img {
        width: 100%;
      }
      input[type="submit"] {
        &:hover {
          background-color: rgb(235, 235, 235);
        }
        &:active {
          background-color: rgb(226, 115, 155);
        }
      }
      input[type="number"] {
        width: 10%;
      }
      select {
        padding: 15px 30px;
        margin: 10px 0;
        font-size: 15px;
        border: solid 2px rgb(219, 219, 219);
        border-radius: 10px;
      }
    }
  }
}

/*----- Event Creation  ------*/

.events {
  width: 100vw;
  height: 100vh;
  background-color: white;
  display: flex;
  border-top: solid 1px gray;
  align-items: center;
  flex-direction: column;
  .add_event_container {
    margin-top: 25px;
    height: 96px;
    width: 750px;
    display: flex;
    justify-content: space-between;
    background-color: rgb(201, 201, 201);
    align-items: center;
    border-radius: 90px;
    gap: 10px;
    box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.2);
    .add_event_btn {
      background-color: initial;
      background-image: linear-gradient(-180deg, #00d775, #00bd68);
      border-radius: 90px;
      box-shadow: rgba(0, 0, 0, 0.1) 0 2px 4px;
      color: #ffffff;
      cursor: pointer;
      display: inline-block;
      height: 44px;
      line-height: 44px;
      outline: 0;
      overflow: hidden;
      padding: 0 20px;
      pointer-events: auto;
      position: relative;
      text-align: center;
      touch-action: manipulation;
      user-select: none;
      -webkit-user-select: none;
      vertical-align: top;
      white-space: nowrap;
      width: 300px;
      z-index: 9;
      border: 0;
      margin-left: 50px;
      font-size: 24px;
      font-weight: bold;
    }
    .add_event_btn:hover {
      background: #00bd68;
    }

    .add_event_text {
      height: 60px;
      width: 300px;
      color: white;
      margin-left: 80px;
      display: flex;
      align-items: center;
      p {
        font-size: 24px;
        color: black;
        font-weight: bold;
      }
    }
  }
}
.events_container {
  width: 1600px;
  max-height: 2000px;
  display: flex;
  gap: 60px;
  flex-wrap: wrap;
  margin-top: 120px;
  justify-content: center;
  .event {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 400px;
    height: 300px;
    background-color: rgb(201, 201, 201);
    border-radius: 30px;
    box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.2);
    .up {
      width: 350px;
      height: 200px;
    }
    .down {
      width: 350px;
      height: 100px;
      display: flex;
      justify-content: flex-end;
      align-items: flex-end;
      button {
        color: #fff;
        text-transform: uppercase;
        font-size: 16px;
        background: linear-gradient(45deg, rgb(256, 48, 114), rgb(255, 89, 64));
        padding: 12px 30px;
        border-radius: 30px;
        border: none;
        margin-bottom: 15px;
      }
      button:hover {
        background: linear-gradient(
          260deg,
          rgb(256, 48, 114),
          rgb(255, 89, 64)
        );
        cursor: pointer;
      }
    }
  }
}
